* {
  margin: 0;
  padding: 0;
  font-family: Meriweather;
  scroll-behavior: smooth;
}
:root {
  --background1: rgba(0, 0, 0, 0.75), rgb(63, 220, 255, 0.75);
  --background2: rgba(0, 0, 0, 0.75), rgba(204, 122, 0, 0.75);
  --background3: rgba(0, 0, 0, 0.75), rgba(23, 12, 1, 0.75);

  --icon-size: 15px;
}
.nav-colored {
  background-color: transparent;
}
.nav-transparent {
  background-color: transparent;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .nav-colored{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

header {
  position: fixed;
  width: 100%;
  padding-top: 13px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}

nav {
  padding-right: 20px;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(var(--background2)),
    url("/static/wood.avif") repeat fixed 100%;
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navbar {
  margin: 0;
  padding: 0;
  height: 12%;
  display: flex;
  align-items: center;
}

#logo i {
  height: 45px;
  width: 45px;
  font-size: 35px;
  cursor: pointer;
  padding-left: 20px;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
  font-size: 25px;
}

nav {
  flex: 1;
  text-align: right;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: var(--icon-size);
}

.row {
  display: flex;
  color: #fff;
  height: 88%;
  align-items: center;
}

.col {
  flex-basis: 50%;
}

h1 {
  color: #fff;
  font-size: 100px;
}

p {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.btn {
  margin-top: 10px;
  padding: 10px 25px;
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #fff;
  position: relative;
  display: inline-block;
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.btn:hover {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}
.card {
  width: 300px;
  height: 330px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
}

.card-1 {
  background-image: url(/static/coffee.png);
}

.card-2 {
  background-image: url(/static/tea.jpeg);
}

.card-3 {
  background-image: url(/static/books.jpeg);
}

.card-4 {
  background-image: url(/static/blackcup.avif);
}

.card-1:hover {
  transform: translateY(-10px) translateX(-5px);
  transition: all 0.45s ease-in-out;
}
.card-2:hover {
  transform: translateY(-10px) translateX(5px);
  transition: all 0.45s ease-in-out;
}

.card-3:hover {
  transform: translateY(10px) translateX(-5px);
  transition: all 0.45s ease-in-out;
}

.card-4:hover {
  transform: translateY(10px) translateX(5px);
  transition: all 0.45s ease-in-out;
}

h5 {
  color: #fff;
  text-shadow: 0 0 5px #999;
}

.image {
  display: flex;
  align-self: left;
  padding-left: 0;
  transform: scale(0.5);
  width: 850px;
}

.page-text {
  font-size: large;
  text-shadow: 0 0 5px #999;
  text-align: left;
  display: flex;
  float: left;
  width: 35%;
  padding-left: 60%;
  margin-top: 0;
}

.margin {
  height: 100vh;
  background: #000;
}

.parallax-inner {
  font-size: 500px;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 10%;
  padding-bottom: 50%;
}

.parallax1 {
  background: url("/static/coffee.png") repeat fixed 100%;
  background-position: center;
  background-size: cover;
}

.parallax2 {
  background: url("/static/tea.jpeg") repeat fixed 100%;
  background-position: center;
  background-size: cover;
}

.parallax3 {
  background: url("/static/books.jpeg") repeat fixed 100%;
  background-position: center;
  background-size: cover;
}

.parallax4 {
  background: url("/static/blackcup.avif") repeat fixed 100%;
  background-position: center;
  background-size: cover;
}

.page {
  min-height: 100vh;
  width: auto;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
  transition: all 0.45s;
}

@media (max-width: 1580px) {
  .card {
    width: 200px;
    height: 230px;
  }
}
@media (max-width: 1104px) {
  .card {
    width: 180px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 1010px) {
  .navbar {
    padding-bottom: 10%;
  }

  .card {
    width: 180px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
  }
}
